/* Carousel Styles */

.carousel-inner img {
    width: 100%;
    padding-bottom: 20px;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

.carousel-control.left span {
    padding: 0;
}

.carousel-control.right span {
    padding: 0;
}

.carousel-indicators .active{
    background-color: #444;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 50px;
    color: #444;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 50px;
    color: #444;
}

@media only screen and (max-width: 320px) {
    .carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    top: 70%;
    z-index: 5;
    display: inline-block;
}
  .carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 10px;
    color: #444;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 10px;
    color: #444;
}  
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
    opacity: .7;
    filter: alpha(opacity=80);
}

.carousel-inner > .item {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    height: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin-top: 100px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    padding-left: 0;
}

.carousel-indicators li{
   color: #444;
    background:#af470b;
}
